<!DOCTYPE html>
<html lang="en" class="h-100">
<th:block th:include="~{_shared/head}"/>
<body class="d-flex flex-column h-100">
<th:block th:include="~{_shared/header}"/>
<div class="container mt-1 mb-1 ms-1 me-1 border border-secondary border-2 rounded backg-color text-white con-width">
    <form th:action="@{/product/add}" method="POST" enctype="multipart/form-data" th:object="${productModel}">
        <div class="col mb-2">
            <div class="col">
                <label class="form-label" for="candleName">Име на продукт</label>
                <input th:field="*{candleName}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       id="candleName"
                       name="candleName"
                       pattern="^[a-zA-Z0-9\s_.,-]+$|^[а-яА-Я0-9\s_.,-]+$"
                       title="Името на продукта може да съдържа единствено кирилица, латински букви, цифри, тире, долна черта, празно пространство, точка или запетая."
                       required
                >
                <p class="invalid-feedback errors alert alert-danger">
                    Полето е празно или грешно попълнено. Името на продукта може да съдържа единствено кирилица,
                    латински букви, цифри, тире, долна черта, празно пространство, точка или запетая.
                </p>
            </div>
            <div class="col">
                <label class="form-label" for="waxType">Тип восък</label>
                <select th:field="*{waxType}"
                        th:errorclass="is-invalid"
                        id="waxType"
                        name="waxType"
                        class="form-control"
                        required>
                    <option value="">- Избери восък -</option>
                    <option
                            th:each="wax : ${waxes}"
                            th:text="${wax}"
                            th:value="${wax}">
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Полето е празно.
                </p>
            </div>
            <div class="col">
                <label class="form-label" for="candleJar">Тип контейнер</label>
                <select th:field="*{candleJar}"
                        th:errorclass="is-invalid"
                        id="candleJar"
                        name="candleJar"
                        class="form-control" required>
                    <option value="">- Избери контейнер -</option>
                    <option
                            th:each="jar : ${jars}"
                            th:text="${jar}"
                            th:value="${jar}">
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Полето е празно.
                </p>
            </div>
            <div class="col">
                <label class="form-label" for="waxQuantity">Количество восък</label>
                <input th:field="*{waxQuantity}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       id="waxQuantity"
                       name="waxQuantity"
                       pattern="[0-9]"
                       title="Полето може да съдържа единствено цифри."
                       required>
            </div>
            <div class="col">
                <label class="form-label" for="candleWick">Фитил</label>
                <select
                        th:field="*{candleWick}"
                        th:errorclass="is-invalid"
                        id="candleWick"
                        name="candleWick"
                        class="form-control" required>
                    <option value="">- Избери фитил -</option>
                    <option
                            th:each="wick : ${wicks}"
                            th:text="${wick}"
                            th:value="${wick}">
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Полето е празно.
                </p>
            </div>
            <div class="col">
                <label class="form-label" for="wickSize">Количество фитил</label>
                <input th:field="*{wickSize}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       id="wickSize"
                       name="wickSize"
                       pattern="[0-9]"
                       title="Полето може да съдържа единствено цифри."
                       required>
            </div>
            <div class="col">
                <label class="form-label" for="scentType">Тип аромат</label>
                <select th:field="*{scentType}"
                        th:errorclass="is-invalid"
                        id="scentType"
                        name="scentType"
                        class="form-control" required>
                    <option value="">- Избери аромат -</option>
                    <option
                            th:each="scent : ${scents}"
                            th:text="${scent}"
                            th:value="${scent}">
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Полето е празно.
                </p>
            </div>
            <!--            pattern="[0-9]"-->
            <div class="col">
                <label class="form-label" for="scentQuantity">Количество аромат</label>
                <input
                        th:field="*{scentQuantity}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        id="scentQuantity"
                        name="scentQuantity"
                        pattern="[0-9].[0-9]||[0-9]"
                        title="Полето може да съдържа единствено цифри."
                        required>
                <p class="invalid-feedback errors alert alert-danger">
                    Полето е празно.
                </p>
            </div>
            <div class="col">
                <label class="form-label" for="otherIng">Други</label>
                <div id="otherIng" class="oth_set">
                    <div  class="sel-div">
                        <div  th:each="other, otherStat : ${others}">
                            <div class="par_div">
                                <input type="text" th:name="${other}" th:field="*{additionalIngredients[__${otherStat.index}__].additionalIngredientName}"  th:value="${other}" style="color: black; width: 100%;" readonly/>
                                <select id="one1" th:field="*{additionalIngredients[__${otherStat.index}__].count}" name="count"
                                        class="form-select">
                                    <option
                                            th:each="opt : ${options}"
                                            th:text="${opt}"
                                            th:value="${opt}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="invalid-feedback errors alert alert-danger">
                    Полето е празно.
                </p>
            </div>
            <div class="col">
                <label class="form-label" for="image">Снимка</label>
                <input type="file" class="form-control" id="image" name="image" required>
            </div>
            <div class="col" th:if="${#fields.hasErrors('global')}">
                <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"/>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button id="resBut" type="reset" class="btn btn-success mb-2 me-2">Изчисти</button>
            <button id="subAddProd" type="submit" class="btn btn-success mb-2 me-2">Изпрати</button>
        </div>
    </form>
</div>
<th:block th:include="~{_shared/footer}"/>
</body>
<th:block th:include="~{_shared/scripts/main_scripts}"/>
<th:block th:include="~{_shared/scripts/scripts_add}"/>
</html>