<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <!--    add form element with get method-->
    <div class="input-group mt-3">
        <form id="form" class="search-form">
            <input id="input-search" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon"/>
            <button id="search-field" type="submit" class="btn btn-outline-primary">search</button>
        </form>
    </div>
    <div class="container mt-5">
        <div class="row align-items-center" id="row-index">
            <div class="col" th:each="product : ${products}">
                <a rel="group">
                    <img th:src="@{${product.imageName}}" class="rounded mx-auto d-block img-st mb-1" alt=""/>
                </a>
                <p class="p-prod" th:text="${product.candleName} + ' - ' + ${product.price} + ' лв.'"></p>
                <div class="row row-cols-1 box-info text-c">
                    <div th:text="'Восък: ' + ${product.waxType}"></div>
                    <div th:text="'Контейнер: ' + ${product.candleJar}"></div>
                    <div th:text="'Количество восък: ' + ${product.waxQuantity} + ' гр'"></div>
                    <div th:text="'Аромат: ' + ${product.scentType}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container-fluid row justify-content-center" style="margin-top: 30px;">
        <nav style="width: auto;">
            <ul class="pagination">
                <li class="page-item" th:classappend="${products.isFirst()} ? 'disabled' : ''">
                    <a th:unless="${products.isFirst()}"
                       th:href="@{/home(size=${products.getSize()},page=0)}"
                       class="page-link" href="#">First</a>
                    <a th:if="${products.isFirst()}"
                       class="page-link" href="#">First</a>
                </li>
            </ul>
        </nav>
        <nav style="width: auto;">
            <ul class="pagination">
                <li class="page-item" th:classappend="${products.hasPrevious() ? '' : 'disabled'}">
                    <a th:if="${products.hasPrevious()}"
                       th:href="@{/home(size=${products.getSize()},page=${products.getNumber() - 1})}"
                       class="page-link" href="#">Previous</a>
                    <a th:unless="${products.hasPrevious()}"
                       class="page-link" href="#">Previous</a>
                </li>
            </ul>
        </nav>
        <nav style="width: auto;">
            <ul class="pagination">
                <li class="page-item" th:classappend="${products.hasNext() ? '' : 'disabled'}">
                    <a th:if="${products.hasNext()}"
                       th:href="@{/home(size=${products.getSize()},page=${products.getNumber() + 1})}"
                       class="page-link" href="#">Next</a>
                    <a th:unless="${products.hasNext()}"
                       class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <nav style="width: auto;">
            <ul class="pagination">
                <li class="page-item" th:classappend="${products.isLast()} ? 'disabled' : ''">
                    <a th:unless="${products.isLast()}"
                       th:href="@{/home(size=${products.getSize()},page=${products.getTotalPages() - 1})}"
                       class="page-link" href="#">Last</a>
                    <a th:if="${products.isLast()}"
                       class="page-link" href="#">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</main>
</body>
<th:block th:include="~{_shared/scripts/main_scripts}"/>
</html>